.mwPlayerContainer .watched{background:rgba(135,49,154,0.75);}
.mwPlayerContainer .scrubber .playHead{background:#ffffff !important;}
.mwPlayerContainer .playPauseBtn, .mwPlayerContainer .largePlayBtn{background:#87319A; border-color: #87319A;}
.mwPlayerContainer .playPauseBtn:hover, .mwPlayerContainer .largePlayBtn:hover,
.mwPlayerContainer .playPauseBtn:focus, .mwPlayerContainer .largePlayBtn:focus{background:#ffffff; border-color: #87319A;}
.mwPlayerContainer .largePlayBtn:hover:before,
.mwPlayerContainer .playPauseBtn:hover:before,
.mwPlayerContainer .largePlayBtn:focus:before,
.mwPlayerContainer .playPauseBtn:focus:before{color: #590D73;}
.mwPlayerContainer .watermark a{background:#87319A; color: #fff;}
.icon-dv:after,.icon-cc:after {background:#87319A;}
