.mwPlayerContainer .watched{background:rgba(255,92,57,0.75);}
.mwPlayerContainer .scrubber .playHead:hover{background:#ffffff !important;}
.mwPlayerContainer .playPauseBtn, .mwPlayerContainer .largePlayBtn{background:#FF5C39; border-color: #FF5C39;}
.mwPlayerContainer .playPauseBtn:hover, .mwPlayerContainer .largePlayBtn:hover,
.mwPlayerContainer .playPauseBtn:focus, .mwPlayerContainer .largePlayBtn:focus{background: #ffffff; border-color: #FF5C39;}
.mwPlayerContainer .largePlayBtn:before,
.mwPlayerContainer .playPauseBtn:before{color: #000;}
.mwPlayerContainer .largePlayBtn:hover:before,
.mwPlayerContainer .playPauseBtn:hover:before,
.mwPlayerContainer .largePlayBtn:focus:before,
.mwPlayerContainer .playPauseBtn:focus:before{color: #D43F28;}
.mwPlayerContainer .watermark a{background:#FF5C39; color: #000;}
.icon-dv:after,.icon-cc:after{background:#FF5C39;}
